---
layout: default
---

{%include site-header.html%}
<ul class="article-list">    
    {%include adsense-inarticle.html%}
    {% for post in site.posts %}
    <li>
        <a class="title" href="{{post.url | prepend: site.baseurl}}">{{ post.title }}</a>

        <div class="meta">
            {% if post.categories.size > 0 %}
                <span>
                In
                {% for category in post.categories %}
                {% if forloop.index == post.categories.size %}
                <a href="{{ category | prepend:'/categories#' | prepend:site.baseurl}}">{{ category | capitalize }}</a>
                {% else %}
                <a href="{{ category | prepend:'/categories#' | prepend:site.baseurl}}">{{ category | capitalize }}</a>,
                {% endif %}
                {% endfor %}
                    </span> |
            {% endif %}
            <time class="time" datetime="{{post.date | date:'%Y-%m-%d'}}">On {{post.date | date:'%Y-%m-%d'}}</time>
        </div>

        <div class="description">
            {{post.content | strip_html | truncatewords: 30}}
            <a class="read-more" href="{{post.url | prepend: site.baseurl}}">&raquo;&raquo;</a>
        </div>
        <hr/>
    </li>
    </article>
    {% endfor %}
    {%include adsense-inarticle.html%}
</ul>
{%include site-footer.html%}