{% capture meta_url %}{{page.url | replace:'index.html','' | prepend:site.baseurl | prepend: site.url}}{% endcapture %}

{% if page.image %}
{% assign page_image = page.image | prepend:site.baseurl | prepend: site.url %}
{% else %}
{% assign page_image = site.logo | prepend:site.baseurl | prepend: site.url %}
{% endif %}
{% capture meta_image %}{{page_image}}{% endcapture %}

{% if page.title %}
{% assign page_title = page.title %}
{% else %}
{% assign page_title = site.name %}
{% endif %}
{% capture meta_title %}{{page_title | markdownify | strip_html | strip_newlines | escape_once}}{% endcapture %}

{% if page.description %}
{% assign page_description = page.description %}
{% elsif page.excerpt %}
{% assign page_description = page.excerpt %}
{% else %}
{% assign page_description = site.description %}
{% endif %}
{% capture meta_description %}{{page_description | strip_html | xml_escape | normalize_whitepace | strip_newlines | strip | truncate: 200 }}{% endcapture %}

{% if page.tags %}
{% assign page_keywords = page.tags %}
{% else %}
{% assign page_keywords = site.keywords %}
{%endif %}
{% capture meta_keywords %}{{page_keywords | join: ', ' | escape}}{% endcapture %}

{% if page.date %}
{% assign page_publish_date = page.date %}
{%endif %}
{% capture meta_publish_date %}{{page_publish_date | date_to_xmlschema}}{% endcapture %}

{% if page.last_modified_at %}
{% assign page_modified_date = page.last_modified_at %}
{% else %}
{% assign page_modified_date = page.date %}
{%endif %}
{% capture meta_modified_date %}{{page_modified_date | date_to_xmlschema}}{% endcapture %}

<!-- Basic page needs -->
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no""/>

<link rel="shortcut icon" href="{{'/favicon.ico' | prepend:site.baseurl}}">

<title>{{meta_title}}</title>
<meta name="title" content="{{meta_title}}">
<meta name="description" content="{{meta_description}}">
<meta name="keywords" content="{{meta_keywords}}">
{% if page.date %}<meta name="author" content="{{site.author.name}}">{% endif %}

<!-- Open Graph tags -->
<meta property="og:title" content="{{meta_title}}">
<meta property="og:site_name" content="{{site.name}}">
<meta property="og:url" content="{{meta_url}}">
<meta property="og:description" content="{{meta_description}}">
<meta property="og:image" content="{{meta_image}}">
<meta property="fb:admins" content="{{site.author.facebook}}">
<meta property="og:type" content="{% if page.date %}{{'article'}}{% else %}{{'website'}}{% endif %}">
<meta property="og:locale" content="{{site.locale}}">
{% if page.date %}
<meta property="article:author" content="https://www.facebook.com/{{site.author.facebook}}">
<meta property="article:modified_time" content="{{meta_modified_date}}">
<meta property="article:published_time" content="{{meta_publish_date}}">
{% for post in site.related_posts limit:5 %}<meta property="og:see_also" content="{{post.url | replace:'index.html','' | prepend:site.baseurl | prepend: site.url}}">{% endfor %}
{% endif %}

<!-- Twitter card property -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{site.author.twitter}}">
{% if page.date %}<meta name="twitter:creator" content="@{{site.author.twitter}}">{% endif %}
<meta property="twitter:image" content="{{meta_image}}">

<!-- SEO -->
{% if page.robots %}<meta name="robots" content="{{page.robots}}">{% endif %}
<link rel="canonical" href="{{meta_url}}">
{% if page.previous.url %}<link rel="prev" href="{{page.previous.url | replace:'index.html','' | prepend:site.baseurl | prepend: site.url}}" title="{{page.previous.title | markdownify | strip_html | strip_newlines | escape_once}}">{% endif %}
{% if page.next.url %}<link rel="next" href="{{page.next.url | replace:'index.html','' | prepend:site.baseurl | prepend: site.url}}" title="{{page.next.title | markdownify | strip_html | strip_newlines | escape_once}}">{% endif %}

<!-- Feed -->
<link rel="alternate" type="application/atom+xml" href="/feed.xml" title="{{site.name}}">

<!-- Webmaster -->
<meta name="google-site-verification" content="RuvEWhIVgNmsBpTvRUaDEN4rQ4yCe037LCU-0g4zQ1E" />
<meta name="msvalidate.01" content="9C16FA738D801E77C8ED83FABC06FFE3" />