<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "@id": "{{meta_url}}",
    "url": "{{meta_url}}",
    "headline": "{{meta_title}}",
    "description": "{{meta_description}}",
    "datePublished": "{{meta_publish_date}}",
    "genre": "{{meta_categories}}",
    "keywords": "{{meta_keywords}}",
    "wordCount": "{{wordcount}}",
    "articleBody": "{{ page.content | markdownify | strip_html | strip_newlines }}",
    "image": {
      "@type": "ImageObject",
      "url": "{{meta_image}}"
    },
    "author": {
      "@type": "Person",
      "name": "Jayesh Panchal",
      "sameAs": [
        "https://twitter.com/codetonics",
        "https://github.com/codetonics"
      ]
    },
    "publisher": {
      "@type": "Organization",
      "name": "Codetonics",
      "sameAs": [
        "https://twitter.com/codetonics",
        "https://github.com/codetonics"
      ],
      "logo": {
        "@type": "ImageObject",
        "url": "{{site.logo | prepend:site.baseurl | prepend: site.url}}"
      }
    },
    "mainEntityOfPage": {
      "@type": "BlogPosting",
      "@id": "{{meta_url}}"
    }
  }
</script>