<div class="share-menu">
    <div>Share this article on</div>
    <a href="http://twitter.com/share?text={{page.title}}&amp;url={{page.url | prepend:site.baseurl | prepend:site.url}}"
       onclick="window.open(this.href, 'twitter-share', 'width=800,height=600');return false;">
        <i class="fa fa-twitter"></i></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{page.url | prepend:site.baseurl | prepend:site.url}}"
       onclick="window.open(this.href, 'facebook-share','width=800,height=600');return false;">
        <i class="fa fa-facebook"></i></a>
    <a href="https://plus.google.com/share?url={{page.url | prepend:site.baseurl | prepend:site.url}}"
       onclick="window.open(this.href, 'google-plus-share', 'width=800,height=600');return false;">
        <i class="fa fa-google-plus"></i></a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{page.url | prepend:site.baseurl | prepend:site.url}}&title={{page.title}}"
       onclick="window.open(this.href, 'linkedin-share', 'width=800,height=600');return false;">
        <i class="fa fa-linkedin"></i></a>
    <a href="http://www.reddit.com/submit?url={{page.url | prepend:site.baseurl | prepend:site.url}}&title={{page.title}}"
       onclick="window.open(this.href, 'reddit-share', 'width=800,height=600');return false;">
        <i class="fa fa-reddit-alien"></i></a>
</div>