.content {
  p,
  ul,
  ol,
  table,
  img,
  .highlighter-rouge {
    @extend .site-width;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  ul,
  ol {
    padding-left: 40px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @extend .site-width;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  blockquote {
    p {
      padding-left: 1rem;
      border-left: 0.4rem solid $separator-color;
      border-radius: 2px;
      font-style: italic;
      font-weight: bold;
    }
  }
  img {
    border: 1px solid #e9e9e9;
  }
  /* Tables */
  table {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-collapse: collapse;
    white-space: nowrap;
    vertical-align: top;
  }
  table th {
    text-align: left;
    text-transform: uppercase;
  }
  table th,
  table td {
    padding: 6px 12px;
    border: #e9e9e9 1px solid;
  }
}