header {
  padding-top: 1rem;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  color: $header-text-color;
  background: $header-bg-color no-repeat center center;
  background-size: cover;

  a {
    color: $header-text-color;
    text-decoration: none;
  }

  .title {
    @extend .site-width;
    margin-top: 1rem;
  }

  .meta {
    @extend .site-width;
    margin-top: 1rem;
    a {
      text-decoration: underline;
    }
  }

  .description {
    @extend .site-width;
    margin-top: 1rem;
  }
}

.site-header {
  text-align: center;
}

.main-menu {
  @extend .site-width;
  margin: 0 auto 6rem;
  text-align: right;

  a{
    padding:8px;
    text-transform: uppercase;
  }
}

.social-menu {
  @extend .site-width;
  text-align: center;

  a {
    padding: 5px;
    font-size: $h3-font-size-sm;
  }
}