.heading-text {
  font-family: $heading-font-family;
}

h1 {
  @extend .heading-text;
  font-size: $h1-font-size-sm;
  line-height: $h1-line-height-sm;
}

h2 {
  @extend .heading-text;
  font-size: $h2-font-size-sm;
  line-height: $h2-line-height-sm;
}

h3 {
  @extend .heading-text;
  font-size: $h3-font-size-sm;
  line-height: $h3-line-height-sm;
}

h4 {
  @extend .heading-text;
  font-size: $h4-font-size-sm;
  line-height: $h4-line-height-sm;
}